<!DOCTYPE html>
<html>

<head>
  <title>Dev-ops Portal</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="/styles/fonts.css">
  <link rel="stylesheet" href="/styles/icon.css">
  <link rel="stylesheet" href="/styles/material.min.css">
  <link rel="stylesheet" href="/styles/material.table.css">
  <link rel="stylesheet" href="/styles/material.btn.css">
  <link rel="stylesheet" href="/styles/material.collection.css">
  <link rel="stylesheet" href="/styles/styles.css">
</head>

<body>
  {{{body}}}
  <footer class="android-footer mdl-mega-footer">
    <div class="mdl-mega-footer--bottom-section center">
      <a class="android-link mdl-typography--font-light" href="mailto:someone@example.com">Contact us</a>
    </div>
  </footer>
  <script src="/scripts/jquery-3.2.1.min.js"></script>
  <script src="/scripts/material.min.js"></script>
  <script src="/scripts/main.js"></script>
</body>

</html>