<!DOCTYPE html>
<html>

<head>
  <title>DevOps Portal</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/styles/homepage.css">
<link rel="stylesheet" href="/styles/common.css">
<link rel="stylesheet" href="/styles/projectpage.css">
<style>
.modal-login {
  background-color: #fefefe;
  margin: 0% auto 5% auto; /* 5% from the top, 15% from the bottom and centered */
  width: 100%;
}
span.psw {
    float: right;
    padding-top: 16px;
}
.inpt-loginclass{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.Hidden{
    display: none;
}
.dev-ops-teams{
overflow-x:hidden;
white-space:nowrap;
min-height:200px;
width: 100%;
}

.dev-ops-teams li{
display:inline;
float:left;
padding: 5px 15px;
}
.dev-ops-teams img{
display:inline;
}

.img-circle {
    border-radius: 50%;
    max-height: 150px;
}
.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}
</style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark ">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <img class="navlogo" src="{{LOGO}}" />
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#FourPillars">PILLARS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#DevelopementCycle">CYCLE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="/#Toolsused">TOOLS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="mailto:usicandedevops@deloitte.com">CONTACT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"  data-toggle="modal"  data-target="#TeamsModal">TEAMS</a>
            </li>
            <li class="nav-item">
                <button type="button" id="loginButton" class="btn btn-success login-btnAction" data-toggle="modal"  data-target="#">LOGIN</button>
            </li>

        </ul>
    </nav>

  {{{body}}}
    <nav class="footer navbar navbar-expand-lg navbar-dark dimgray " >
        <ul class="navbar-nav">
            <li class="nav-item active">
                <img class="navlogo" src="{{LOGO}}" />
            </li>

        </ul>
        {{!-- <ul class="navbar-nav" style="padding-left:420px;">
            <li class="nav-item">
                <a class="nav-link">Help</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Report</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">FAQ's</a>
            </li>


        </ul> --}}
        <div class="modal" id="TeamsModal" tabindex="-1" role="dialog" data-backdrop=false aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Teams</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <ul class="dev-ops-teams">
                  <li>
                    <img src="/images/Monika.png" class="img-responsive img-circle" alt="Monika Goyal">
                    <p>Monika Goyal</p>
                  </li>
                  <li>
                    <img src="/images/Abhinavgadepalli.png" class="img-responsive img-circle" alt="Abhinav Gadepalli">
                    <p>Abhinav Gadepalli</p>
                  </li>
                  <li>
                    <img src="/images/Abhinav.png" class="img-responsive img-circle" alt="Abhinav Saraff">
                    <p>Abhinav Sarraf</p>
                  </li>
                  <li>
                    <img src="/images/PiyushModi.png" class="img-responsive img-circle" alt="Piyush Modi">
                    <p>Piyush Modi</p>
                  </li>
                </ul>
              </div>

            </div>
          </div>
        </div>
        <div class="modal"  id="id01"  role="dialog" data-backdrop="static" aria-labelledby="LoginModalLabel" data-keyboard="false" aria-hidden="true" >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
              </div>
              <div class="modal-body modal-login">
                <div id="emailDiv">
                  <label for="uname"><b>Username</b></label>
                  <input id="uname" class="inpt-loginclass" type="email" placeholder="Enter Username" name="uname" required>
                  <button class="login-button" type="button" onclick="validateForm();">Generate Token</button>
                </div>
                <div id="tokenDiv" class="Hidden">
              <label for="psw"><b>Token</b></label>
              <input id="upsw" class="inpt-loginclass" type="text" placeholder="Enter Token" name="psw">
                <button class="login-button" type="submit" onclick="validateToken()">Login</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <form class="modal-content animate" action="/action_page.php" name="login">
            <div class="imgcontainer" style="background: black;">
              <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
              <img src="deloitte_Resources.png" alt="deloitte" style="width: 40%;">
            </div>

            <div class="container">
                <div id="emailDiv">
                  <label for="uname"><b>Username</b></label>
                  <input type="email" placeholder="Enter Username" name="uname" required>
                  <button type="button" onclick="validateForm();">Generate Token</button>
                </div>
                <div id="tokenDiv" class="Hidden">
              <label for="psw"><b>Token</b></label>
              <input type="text" placeholder="Enter Token" name="psw">
                <button type="submit" onclick="SendEmail">Login</button>
                </div>
          </form> -->
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="/scripts/jquery.cookie.js"></script>
    <script src="/scripts/global.js"></script>
    <script src="/scripts/main.js"></script>

</body>

</html>
