<a href="../industry" class="btn btn-default industry-link-btn text-left" style="float:left;margin-top:20px; color:#707070;border:solid 1px #cecece;" ><i class="fa fa-arrow-left" aria-hidden="true"></i>Back to Industries </a>
<div class="container text-center background ProjectPage" style="min-height:520px;">


<div class="top-nav">
<h3 style="font-weight:normal;padding-top:50px;">Consumer and Industrial Products</h3><br>
<p>Global C &IP Industry group provides integrated services to member firm clients<br/> across the entire value chain,
from raw materials to the end consumer.</p>
  {{#if content}}

  <input type="hidden" name="industryId" id="industryId" value="">
<div class="input-group text-center">
<input type="text" class="form-control search-projects" placeholder="Search Project here" name="search">
<div class="input-group-btn">
<button class="btn btn-default" type="submit" id="Searchprojects"><i class="glyphicon glyphicon-search">Search</i></button>
</div>
</div>

{{/if}}
</div>

<div  style="margin-left:100px;margin-top:30px;width:900px;" class="row">
  {{#if content}}
{{#each content}}
<div class="col-sm-3 logo-grid">

<div class="logo">
<img class="logo-img img-responsive" src="{{fields.asset.fields.file.url}}"  width="100px" />

  <hr/>
  <p class="logo-text"><a href="/projectdetails/{{sys.id}}">{{fields.title}}</a></p>
</div>
</div>
{{/each}}
{{else}}
  <p class="logo-text">No Project Found</p>
{{/if}}
</div>

</div>
