header{
    background: #000;
}

.navbar {
    padding-top: 10px;
    background: #000;
}

.navbar-nav {
    flex-direction: row;
}

a.nav-link {
    font-size: 12px;
    font-weight: bold;
    color: white !important;
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
}

ul>li>a.nav-link:hover {
    color: #92D400 !important;
}
.navlogo {
    height: 36px;
}
.btn-success {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 2px;
    background-color: #92D400;
    width: 100px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0.35rem 0.25rem;
    border-radius: 9px;
}
.survey-btn{
    position: fixed;
    bottom: 0;
    left: 51px;
    width: 370px;
    text-align: left;
    color: #fff;
    background: dimgray;
    z-index: 10;
}
.fa.fa-window-maximize{
    float: right;
}
.survey-card{
    position: fixed;
    bottom: 0px;
    left: 51px;
    z-index: 11;
    top: auto;
    right: auto;
    width: 390px;
    font-size: 19px;
    letter-spacing: 0.5px;
}
.survey-card .modal-dialog{
    max-width: 100%;
}
.survey-card .modal-header{
    background: dimgray;
    padding: 0.4rem;
    color: #fff;
}
.survey-card .modal-header .close{
    font-size: 1rem;
    color: #fff;
    opacity: 1;
}
.survey-card .yes-btn{
    background-color: #92D400;
    color: #fff;
}
.survey-card .yes-btn a{
  text-decoration: none;
  background-color: #92D400;
  color: #fff;
}
.survey-card .no-btn{
    color: #92D400;
    text-decoration: underline;
}
body.modal-open{
    overflow: auto;
}

.error-bg{
    background: url("../images/OE60SH0.jpg") no-repeat;
    min-height: 690px;
    background-size: contain;
    background-position: center;
}
    .detailsPage{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .detailsPage .input-group {
        margin-left: 80px;
  width: 900px;
        margin-top:30px;
    }
    .detailsPage .logo-text {
        font-size:1.5rem;
    }

    .detailsPage .background {
        background:url("Group 86.png") no-repeat;
        background-size:cover;
        height:800px;
    }
    .detailsPage .load-more-btn {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 40px;
  padding: 8px 20px;

    }
    .detailsPage .top-nav {
        color:#707070;
    }
    .detailsPage .icons{
  display:inline-block;
  width: 30px;
  height: 64px;
  padding-left:50px;
  padding-right:60px;
 }
    .detailsPage .icons a:hover {
   background: #C93;
}

    .detailsPage .sub-desc {
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .detailsPage .targetDiv {
        display:none;
    }
    .detailsPage .imag {
        width:75px;
        margin: 20px;
    }
    .detailsPage .best-prac {
        max-width: 200px;
        border: 1px solid #fff;
        background-color: #fff;
        -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
        box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
        text-align: left;
        margin-top: 25px;
        max-width: 800px;
        min-width: 800px;
        height:auto;
        padding:15px;
        margin-bottom: 40px;
    }

    .detailsPage .best-prac .header-logo{
        height: 100px;
        width: 100px;
    }

    .detailsPage .second-desc {
        padding-top:20px;
    }
    .detailsPage .main-desc {
        margin-bottom:40px;
        margin-top:30px;
        min-width: 800px;
    }
