 /* Remove the navbar's default margin-bottom and rounded borders */
 .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  /* Add a gray background color and some padding to the footer */
  footer {
    background-color: #f2f2f2;
    padding: 25px;
  }

.ProjectPage .carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}
.ProjectPage hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.5px solid #cecece;
  width:100%;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .ProjectPage .carousel-caption {
    display: none;
  }
}
    .ProjectPage .logo-img {
        width:100px;
        height:50px;
    }
    .ProjectPage .logo-grid {
            padding-top: 20px;
  max-width: 200px;
  height: 200px;
  border: 1px solid #fff;
  background-color: #fff;
  padding-bottom: 20px;
  margin-right:20px;

  -webkit-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.75);
    }
    .ProjectPage .input-group {
        margin-left: 80px;
  width: 900px;
        margin-top:30px;
    }
    .ProjectPage .body{
        font-size:14px;
    }
    .ProjectPage .logo-text {
        font-size:1.5rem;
    }

    .ProjectPage .background {
        background:url("../../app/images/Group 86.png") no-repeat;
        background-size:1300px;
        height:1000px;
    }
    .ProjectPage .load-more-btn {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  border-radius: 20px;
  font-size: 12px;
  margin-top: 40px;
  padding: 8px 20px;

    }
    .ProjectPage .top-nav {
        color:#707070;
    }
